<h1>Success</h1>

Checkout status: <%= @session_with_expand.payment_status %>
<br>
Amount paid: <%= number_to_currency(@session_with_expand.amount_total/100) %> <%= @session_with_expand.currency %>
<br>
<%= @session_with_expand %>