<h1>Success</h1>
<% payment_id = params[:session_id] %>
<% @session = Stripe::Checkout::Session.retrieve(payment_id) %>
<%= @session.payment_intent %>
<%= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>
<% @session_with_expand = Stripe::Checkout::Session.retrieve({
  id: payment_id,
  expand: ["payment_intent", "line_items"]
  }) %>
<hr>
<% @session_with_expand.line_items.data.each do |line_item| %>
  <%= line_item.price.id %>
  <%= line_item.price.product %>
<% end %>
